<% layout('layout') %>

<div class="jumbotron text-center">
    <div class="container">
      <h1 class="display-3 text-center">Shop smart , Save Big</h1>
      <p class="text-center">Find your Favourite product...</p>  
      <div class="row">
          <div class="col-sm-11">
              <div class="input-group ">
                  <input type="text" id="search" class="form-control input-lg" placeholder="Search For a product.." name="search-term">
                  <span class="input-group-btn mr-2"><button type="submit" class="btn btn-primary btn-lg"> <i class="fab fa-searchengin"></i> </button></span>
                  
              </div>
          </div>
      </div>
    </div>  
  </div>

  
<div class="container">
    <div class="row" id="searchResults">
        <% for( let i = 0 ; i<products.length; i++) { %>
            <div class="col-md-4">
                <a href="/product/<%= products[i]._id %>">
                    <div class="card">
                        <img class="" src="<%=products[i].image %>" style="width: 95%;"></a>
                        <div class="card-body">
                            <h3 class="card-text"><%= products[i].name %></h3>
                            <p class="card-text"><%= products[i].category.name %></p>
                            <p class="card-text"><%= products[i].price %>$</p>
                        </div>
                    </div>
                
            </div>
            <% } %>

            <ul class="pagination text-center m-4">
                <li>
                    <% for(let i = 1 ; i <= pages; i++){ %>
                        <% if(i === 1) { %>
                            <li class="page-item"><a class="page-link" href="/"><%= i %></a></li>
                            <%}else { %>
                                <li class="page-item"><a class="page-link" href="/page/<%= i %>"><%= i %></a></li>
                                <% } %>
                        <% } %>
                </li>
            </ul>
    </div>
